# Email routing
ALERT_TO=you@example.com,teammate@example.com
ALERT_FROM=me  # 'me' = tài khoản đã cấp quyền Gmail API
SUBJECT_PREFIX=[FTU-DSTC Alerts]

# Data sources (ít nhất một trong hai)
DATA_PARQUET_PATH=./data/data-v2.parquet
FQ_USERNAME=
FQ_PASSWORD=

# Timezone
TIMEZONE=Asia/Ho_Chi_Minh
